/* The side navigation menu */
.sidebar {
    margin-top: 5px;
    padding-top: 100px;
    background-color: #f1f1f1;
    position: fixed;
    width: 15%;
    height: 100%;
    overflow: auto;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.sidebar div {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar div.active {
    background-color: #04aa6d;
    color: white;
}
.sidebar div:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
